snippet research "Research paper template"
## [${1:Paper Title}](${2:Paper Link}) [C:${3:Content}, S:${4:Style}]

TLDR; $5

#### Key Points
- $6
endsnippet

snippet paper-no-notes "Research paper with no notes"
${1:Paper Title} [[${2:Publisher}](${3:Paper Link})]
endsnippet

snippet paper-notes "Research paper with notes"
[${1:Paper Title}](${2:Notes Link}) [[${3:Publisher}](${4:Paper Link})]
endsnippet
